<h2>ユーザー情報</h2>
<p>ユーザーID: <%= @user.id %></p>
<p>ユーザー名:<%= @user.name %></p>
<br><br>
<% if @user.id == @current_user.id %>
  <%= link_to("編集", "/users/#{@user.id}/edit") %>
<br><br>
<% end %>
<% @user.posts.each do |post|%>
  <p>ユーザーID: <%= @user.id %></p>
  <p>ユーザー名:<%= @user.name %></p>
  <p><%= post.content %></p>
  <br>
<% end %>



